<h1 align="center">Transacciones [Editar]</h1>
<hr width="60%"></hr>
<br/>
<br/>

<%= render 'form' %>

<br/>
<br/>
<p align="center">
<%= link_to 'Mostrar', @transaction %> |
<%= link_to 'Regresar', transactions_path %>
</p>